.expef {
  width: 800px;
  height: 500px;
  border: 1px solid #111;
  border-radius: 0px 70px 0px 70px;
  margin: auto;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.expav {
    width: 230px;
    height: 500px;
    box-sizing: border-box;
}
.expimg {
    height: 380px;
    width: 200px;
    box-sizing: border-box;
    margin: 20px auto;
    border-top: 10px solid var(--groups);
    border-radius: 0px 10px 0px 0px;
}
.expimg img {
    filter: brightness(0.5) grayscale(1);
}
.expgrup {
    width: 200px;
    margin: auto;
    background: var(--groups);
    height: 50px;
    border-radius: 0px 0px 0px 70px;
    text-align: right;
    text-transform: uppercase;
    font-family: teko;
    font-size: 30px;
    padding: 17px 10px;
    box-sizing: border-box;
    color: #ccc;
    letter-spacing: 1px;
}
.expgrup:first-letter {
  font-style: italic;
  margin-right: 2px;
}
.expbar {
  background: rgba(11,11,11,0.3);
  height: 500px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.explist {
  color: #fff;
  height: 250px;
  width: 30px;
  display: inline-grid;
  justify-content: center;
  align-items: center;
}
.explist label {
    cursor: pointer;
    text-transform: uppercase;
    border: 2px solid var(--groups);
    border-radius: 100%;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    box-sizing: border-box;
    color: #ccc;
    font-size: 15px;
}
.expbox {
  width: 520px;
  height: 500px;
  box-sizing: border-box;
  background: #000;
}
.expbox input {
  display: none;
}
.expbox .txt {
  position: absolute;
  top: 520px;
  transition: ease 0.7s;
  background: #000;
  width: 520px;
  height: 500px;
  box-sizing: border-box;
  padding: 20px;
}
.exptit {
    text-align: center;
    font-family: 'share tech mono';
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.5px;
    margin-top: 20px;
    color: #bbb;
}
.exptit:after {
    content: "";
    width: 150px;
    height: 15px;
    background: #000;
    display: inline-block;
    margin-left: 10px;
    vertical-align: -webkit-baseline-middle;
    border-radius: 0px 10px;
    border-top: 1px solid var(--groups);
    margin-top: 5px;
}
.exptit:before {
    content: "";
    width: 150px;
    height: 15px;
    background: #000;
    display: inline-block;
    margin-right: 10px;
    vertical-align: -webkit-baseline-middle;
    border-radius: 10px 0px;
    border-top: 1px solid var(--groups);
    margin-top: 5px;
}
#exphist {
    padding: 0px 20px;
    height: 400px;
    overflow: auto;
    box-sizing: border-box;
}
#exphist::-webkit-scrollbar-thumb {
  background: var(--groups);
  border:2px solid #0a0a0a;
}
.expbox input#datosbas:checked ~ .txt1,
.expbox input#historia:checked ~ .txt2,
.expbox input#otrosdata:checked ~ .txt3 {
  top: 0px;
}
.expcaja1 {
    width: 200px;
    text-align: center;
    border: 1px solid #111;
    box-sizing: border-box;
    border-radius: 10px;
    border-left: 2px solid var(--groups);
    font-family: 'Share Tech Mono';
    text-transform: uppercase;
    font-size: 10px;
    background: url(https://2img.net/i.imgur.com/Py4J0zS.png), linear-gradient(rgb(133 34 34) ,#5e393924);
    letter-spacing: 0.5px;
    margin-left: 10px;
    margin-right: 10px;
    background-image: url(https://2img.net/i.imgur.com/Py4J0zS.png), linear-gradient(rgb(4 4 4), rgb(0 0 0 / 0%));
    background-attachment: fixed;
    background-blend-mode: multiply;
    background-size: cover;
    background-color: currentcolor;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding-left: 10px;
    overflow: hidden;
}
.expcaja1 .ico {
  padding: 10px;
  background: var(--groups);
}
.expcajas {
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
}
.exptit1 {
    font-family: 'Teko';
    font-size: 35px;
    text-transform: uppercase;
    text-align: right;
    padding-right: 10px;
    border-bottom: 2px solid var(--groups);
    border-radius: 0px 20px 0px 20px;
    margin-bottom: 40px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.expPAWN, .expROOK, .expBISHOP, .expKNIGHT, .expKING, .expQUEEN {
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    position: relative;
    left: 30px;
    margin-top: -10px;
    border-radius: 50%;
    outline: 2px solid #111;
    outline-offset: 2px;
    align-items: center;
}
.expPAWN:before {
    content: "\f443";
    font-family: 'Font Awesome 5 Pro';
}
.expROOK:before {
    content: "\f447";
    font-family: 'Font Awesome 5 Pro';
}
.expBISHOP:before {
    content: "\f43a";
    font-family: 'Font Awesome 5 Pro';
}
.expKNIGHT:before {
    content: "\f441";
    font-family: 'Font Awesome 5 Pro';
}
.expKING:before {
    content: "\f43f";
    font-family: 'Font Awesome 5 Pro';
}
.expQUEEN:before {
    content: "\f445";
    font-family: 'Font Awesome 5 Pro';
}
.expquote {
    width: 425px;
    border: 1px solid var(--groups);
    text-align: center;
    padding: 10px;
    border-radius: 10px 0px 10px 0px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Share Tech Mono';
    font-style: italic;
    transition: all ease-in-out .2s;
    text-transform: lowercase;
}
.expquote:hover {
   border: 1px solid #111; 
   background-color: var(--groups);
   color: #eee;
   transition: all ease-in-out .2s;
}
.expstat {
    display: flex;
    justify-content: center;
}
.expstats {
    width: 200px;
    border: 2px solid var(--groups);
    font-size: 30px;
    padding: 20px;
    box-sizing: border-box;
    font-family: 'Share Tech Mono';
    margin-left: 10px;
    margin-right: 10px;
    outline: 1px solid #111;
    outline-offset: 2px;
    background-color: #000;
    border-radius: 20px 0px 20px 0px;
    letter-spacing: -3px;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}
.expstats:first-child:before {
    content: "\f21e";
    position: absolute;
    opacity: 1;
    font-size: 80px;
    font-family: 'Font Awesome 5 Pro';
    font-style: normal;
    color: #111;
    mix-blend-mode: lighten;
}
.expstats:before {
    content: "\f808";
    position: absolute;
    opacity: 1;
    font-size: 80px;
    font-family: 'Font Awesome 5 Pro';
    font-style: normal;
    color: #111;
    mix-blend-mode: lighten;
}
.expstt {display: flex;justify-content: center;}
.expsta {
    padding: 10px;
    border: 1px solid #111;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 10px;
    border-bottom: 2px solid var(--groups);
    font-family: 'Teko';
    letter-spacing: 2px;
}