/**BUSQ TRAMA**/
.tbus1 {
  width: 350px;
  background-color: rgba(0, 0, 0, 0.9);
  border-top: 2px solid var(--groups);
  border-bottom: 2px solid #111;
  margin: 0 auto;
  padding: 20px 40px 20px 40px;
  border-radius: 15px;
  margin-top: 30px;
  margin-bottom: -40px;
}
.tbus1 h2 {
  text-transform: uppercase;
  font-family: Teko;
  text-align: center;
  color: #bbb;
  font-size: 25px;
  line-height: 120%;
  margin-top: -5px;
}
.t1dat {
  font-family: "Share Tech Mono", monospace;
  color: #bbb;
  font-size: 9px;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  line-height: 90%;
  padding-bottom: 12px;
  border-bottom: 1px solid var(--groups);
  margin-top: -25px;
}
.t1dat i {
  color: var(--groups);
  font-size: 6px;
  padding: 0px 5px 0px 5px;
  position: relative;
  top: -1px;
  font-weight: 600;
}
.tb1txt {
  font-size: 12px;
  line-height: 140%;
  text-align: justify;
  padding: 0px 20px 0px 20px;
  margin-top: 10px;
}
/**BUSQ PJ**/
.tbus2 {
  width: 500px;
  background-color: rgba(0, 0, 0, 0.9);
  border: 1px solid #111;
  margin: 0 auto;
  text-align: center;
  border-radius: 0px 50px 0px 50px;
  display: flex;
  margin-top: 30px;
  margin-bottom: -30px;
}
.bpimg {
  width: 190px;
  height: 370px;
  border-radius: 0px 0px 0px 50px;
}
.bptxt2 {
  width: 275px;
  height: 339px;
  margin: 15px;
}
.bp2tt {
  text-transform: uppercase;
  font-family: Teko;
  text-align: center;
  color: var(--groups);
  font-size: 30px;
  line-height: 100%;
  margin: 10px;
}
.bp2txt {
  height: 270px;
  padding: 0px 10px 0px 10px;
  font-size: 12px;
  line-height: 140%;
  text-align: justify;
  overflow: auto;
}
.tb2dat {
  font-family: "Share Tech Mono", monospace;
  color: #bbb;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  line-height: 90%;
  margin-top: -10px;
  margin-bottom: 10px;
}
.tb2dat i {
  color: var(--groups);
  font-size: 8px;
  padding: 0px 5px 0px 5px;
  position: relative;
  top: -1px;
  font-weight: 600;
}
/**INDICE BODEGA**/
.sopbaul {
  width: 800px;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.9);
  border: 1px solid #111;
  margin: 0 auto;
  border-radius: 0px 70px 0px 70px;
}
.baultp {
  width: 800px;
  height: 70px;
  border-bottom: 1px solid #111;
  display: flex;
}
.baultp i {
  height: 35px;
  font-size: 32px;
  border-right: 1px solid var(--groups);
  border-left: 1px solid var(--groups);
  padding: 0px 5px 0px 5px;
  color: var(--groups);
  margin: 18px;
}
.bnav {
  font-family: "Share Tech Mono", monospace;
  letter-spacing: 2px;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 400;
  margin-left: 10px;
  text-align: right;
  line-height: 90%;
  margin-top: 30px;
}
.bnav a {
  text-decoration: none;
  color: #bbb;
}
.bnav::after {
  content: "";
  display: inline-block;
  width: 80px;
  height: 1px;
  background: var(--groups);
  position: relative;
  top: -4px;
  margin-left: 5px;
}
.tbcaj1 {
  width: 800px;
  height: 428px;
  border-radius: 0px 0px 0px 70px;
  display: flex;
}
.tbcaj2 {
  width: 300px;
  height: 390px;
  margin: 0px 0px 0px 40px;
  border-left: 1px solid #111;
  border-right: 1px solid #111;
  border-bottom: 1px solid #111;
  border-radius: 0px 0px 0px 60px;
}
.tbimg {
  width: 300px;
  height: 330px;
  border-bottom: 1px solid #111;
}
.tbnam {
  font-family: "Teko", sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 90%;
  text-align: right;
  text-transform: lowercase;
  color: var(--groups);
  opacity: 0.8;
  margin-right: 10px;
  position: relative;
  top: -18px;
}
.tbnam span {
  text-transform: uppercase;
  font-size: 15px;
  position: relative;
  top: -4px;
  color: #bbb;
}
.tblyr {
  width: 260px;
  font-family: "Share Tech Mono", monospace;
  letter-spacing: 2px;
  color: #bbb;
  font-size: 7.5px;
  text-transform: uppercase;
  font-weight: 400;
  text-align: right;
  line-height: 120%;
  border-right: 3px solid var(--groups);
  padding-right: 5px;
  margin-top: -23px;
  position: relative;
  right: -25px;
}
.tbcaj3 {
  width: 400px;
  height: 390px;
  margin: 20px;
}
.tbdts {
  padding: 20px;
  border-top: 2px solid var(--groups);
  border-bottom: 2px solid var(--groups);
}
.bbbtxt {
  font-size: 12px;
  line-height: 140%;
  text-align: justify;
  color: #999;
  overflow: auto;
  height: 120px;
  padding-right: 10px;
}
.bbbtxt span {
  background-color: var(--groups);
  font-size: 12px;
  padding: 2px;
  margin-right: 3px;
}
.tbcaj4 {
  width: 414px;
  height: 205px;
  margin-top: 20px;
}
.bcjpy {
  width: 310px;
  display: flex;
  align-items: center;
  border: 1px solid #111;
  padding: 8px;
  margin: 10px 0px 0px 44px;
}
.pyicon {
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--groups);
  padding: 10px;
  border-radius: 0px 10px 0px 10px;
  border: 1px solid #111;
  font-size: 18px;
}
.plsg {
  margin-left: 10px;
  position: relative;
  top: 1px;
}
.plsg a {
  text-decoration: none;
  font-family: "Teko", sans-serif;
  color: var(--groups);
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 90%;
}
.plsg span {
  font-family: "Share Tech Mono", monospace;
  letter-spacing: 1px;
  color: #bbb;
  line-height: 120%;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 9px;
  display: block;
}
/**CRONO BODEGA**/
.sopcrono {
  width: 800px;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.9);
  border: 1px solid #111;
  margin: 0 auto;
  border-radius: 0px 70px 0px 70px;
}
.cronotp {
  width: 800px;
  height: 70px;
  border-bottom: 1px solid #111;
  display: flex;
}
.cicon i {
  height: 35px;
  font-size: 32px;
  border-right: 1px solid var(--groups);
  border-left: 1px solid var(--groups);
  padding: 0px 5px 0px 5px;
  color: var(--groups);
  margin: 18px;
}
.cnav {
  width: 750px;
  margin-top: 28px;
  margin-left: 10px;
}
.cnav h {
  font-family: "Share Tech Mono", monospace;
  letter-spacing: 2px;
  color: #bbb;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 400;
  text-align: justify;
  line-height: 90%;
}
.cnav i {
  margin-left: 3px;
  color: var(--groups);
  font-size: 12px;
  margin-right: 20px;
}
.crcajg {
  width: 750px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}
.ccmes {
  width: 325px;
  height: 355px;
  padding: 0px 20px 20px 20px;
  overflow: auto;
  border: 1px solid #111;
  margin-top: 25px;
}
.ccmes h1 {
  font-family: "Teko", sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 90%;
  text-align: center;
  text-transform: uppercase;
  color: #bbb;
  opacity: 0.6;
  margin-bottom: -10px;
  letter-spacing: 1px;
}
.ccmes i {
  color: var(--groups);
}
.crtem {
  width: auto;
  align-items: center;
  border: 1px solid #111;
  padding: 10px;
  margin: 5px 0px 0px 0px;
  display: flex;
  border-radius: 0px 10px 0px 20px;
}
.crcon {
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 0px 10px 0px 10px;
  border: 1px solid #111;
  color: var(--groups);
}
.crtdt {
  margin-left: 10px;
}
.crtdt a {
  text-decoration: none;
  font-family: "Teko", sans-serif;
  color: var(--groups);
  font-size: 15px !important;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 100%;
  position: relative;
  top: 2px;
}
.crtdt span {
  font-family: "Share Tech Mono", monospace;
  letter-spacing: 1px;
  color: #bbb;
  line-height: 150%;
  font-weight: 300 !important;
  text-transform: uppercase;
  font-size: 7px !important;
  display: block;
}
.crtdt n {
  font-size: 10px !important;
  color: var(--groups);
  margin-left: 5px;
  margin-right: 5px;
  font-weight: 900;
}
